---
import Link from "./Link.astro";
const navItems = [
  { href: "/", imgSrc: "/ikoner/hjem.svg", alt: "Home" },
  { href: "/CO2-icon", imgSrc: "/ikoner/CO2-icon.svg", alt: "Hvorfor" },
  { href: "/crypto-icon", imgSrc: "/ikoner/crypto-icon.svg", alt: "Facts" },
  {
    href: "/More-storage-Icon",
    imgSrc: "/ikoner/More-storage-Icon.svg",
    alt: "Beregner",
  },
  {
    href: "/flere-filer-ikon",
    imgSrc: "/ikoner/flere-filer-ikon.svg",
    alt: "Ressourcer",
  },
  { href: "/share", imgSrc: "/ikoner/share.svg", alt: "Del" },
];
---

<!-- Navigations menu -->
<div
  class="w-30 h-50 fixed right-0 top-0 drop-shadow-md bg-lime-400 flex-col p-4 rounded-bl-4xl hidden sm:block"
>
  <nav class="flex flex-col gap-1">
    <a href="/" class="p-2 text-lime-900 hover:blur-sm text-sm font-mono"
      >Hjem</a
    >
    
    <a
      href="/beregn"
      class="p-2 text-lime-900 hover:blur-sm text-sm font-mono">Beregner</a
    >
    <a
      href="/ressourcer"
      class="p-2 text-lime-900 hover:blur-sm text-sm font-mono">Ressourcer</a
    >
    <a
      href="/ressourcer"
      class="p-2 text-lime-100 text-m font-mono font-bold hover:blur-sm">Del</a
    >
  </nav>
</div>

<!-- Mobil bottom menu, forsvinder i desktop -->
<nav
  class="fixed bottom-0 left-0 w-full bg-lime-400 inset-shadow-sm z-50 md:hidden"
>
  <ul class="grid grid-cols-6 gap-4 m-4 p-2 list-none h-12">
    {
      navItems.map((item) => (
        <li class="flex justify-center items-center" key={item.href}>
          <a href={item.href} class="flex flex-col items-center  ">
            <img src={item.imgSrc} alt={item.alt} class="w-6 h-6 mb-1" />
            {/* <span className="text-xs text-lime-900 font-light">{item.alt}</span> */}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
